# Created by .ignore support plugin (hsz.mobi)
/build
/app/build
/app/keyStore

Будет удалено build/android-profile/profile-2018-01-04-00-11-29-418.json
Будет удалено build/android-profile/profile-2018-01-04-00-11-29-418.rawproto
